.eventModal {
    position: absolute;
    height: 20%;
    width: 30%;
    left: 40%;
    top: 20%;
    background: white;
    z-index: 2;
    border-radius: 20px;
    padding: 35px 20px;
}

.eventModal .content {
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    flex-direction: row;  
}

.modalHeader h1 {
    min-width: 75%;
    transform: translateY(-25px);
    margin-bottom: -20px;
}

.modalBody h5 {
    max-height: 10px;
}